<section class="l-grid__item m-format-card js-lazy-bg" data-original="{{ image }}">
  <div class="m-format-card__inner">
    <h3 class="a-heading__h3-bold m-format-card__title">{{ title }}</h3>
    <div class="m-format-card__aside">
      {{ pricing }}
      {{ people }}
    </div>
    <p class="m-format-card__description">{{ description }}</p>
    <div class="m-format-card__button">
      <a href="#" class="a-btn a-btn--transparent">Разместить заявку</a>
    </div>
  </div>
</section>
