<div class="o-stats">
  <div class="o-stats__inner">
    <div class="o-stats__item">
      <div class="a-heading__h1 o-stats__count">{{ partner_count }}</div>
      <div class="o-stats__text">{{ partner_text }}</div>
    </div>
    <div class="o-stats__item">
      <div class="a-heading__h1 o-stats__count">{{ foods_count }}</div>
      <div class="o-stats__text">{{ foods_text }}</div>
    </div>
    <div class="o-stats__item">
      <div class="a-heading__h1 o-stats__count">{{ clients_count }}</div>
      <div class="o-stats__text">{{ clients_text }}</div>
    </div>
  </div>
</div>
